body {
    font-family: 'Manrope', sans-serif;
    /* Usamos la fuente Manrope para el texto principal */
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    text-align: center;
    padding: 20xp 0;
    background-color: #fff;
    box-shadow: 0 2px 4px #0000001a;

}

header h1 {
    background-image: linear-gradient(to right, #00ffdd, blue);
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    color: #000300;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(to right, blue, #00ffdd);
    color: black;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav .boton {
    cursor: pointer;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
}

section h1 {
    font-family: 'Rubik', sans-serif;
    color: #5d4037;
    margin: 0;
    font-size: 2rem;
}

#carton-bingo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    width: 320px;
    height: 320px;
    padding: 8px;
    border: 3px solid #795548;
    border-radius: 8px;
    background-color: #fbf5e8;
}

#carton-bingo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    /* Ocupa todas las columnas si es necesario */
    color: #999;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
}

/* Estilos para cada celda del cartón que se generará con JS */
.celda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbe9e7;
    border: 1px solid #d7ccc8;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5d4037;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    user-select: none;
}

.celda:hover {
    background-color: #efdada;
}

/* Estilo para las celdas marcadas */
.celda.marcada {
    background-color: #4CAF50;
    color: white;
    text-decoration: line-through;
}

/* Estilo para la celda especial 'GRATIS' */
.celda.gratis {
    background-color: #fbc02d;
    color: #5d4037;
    font-size: 1rem;
    font-style: italic;
    cursor: default;
    text-decoration: none;
}

section {
    text-align: center;
    margin-top: 20px;
}

/* button {
    padding: 12px 24px;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-weight: bold;
    
} */

button:hover {
    background-color: #0a70b4;
    border-radius: 3px;
}